// @import '../../assets/css/utils/_vars.scss';
@import '../../components/test/_test.scss';

// =============================================================================

// === ↓ colors
$mainColor: #1eebbe;
$secondColor: #5947E4;

$mainBgColor: #7a98f6;
$mainBgGradientColorFirst: #70c5f4;
$mainBgGradientColorSecond: #846bf7;

$secondBgColor: #ea85a0;
$secondBgGradientColorFirst: #ffa9af;
$secondBgGradientColorSecond: #f871be;

$contentBgColor: #ffffff;
$contentHighlight: lighten($mainBgColor, 20%);
$textDarkColor: #1F1D3B;
// === ↑ colors

// === shadow
.main-shadow {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

// === ↓ gradients
.main-gradient {
  background: linear-gradient(45deg,
      $mainBgGradientColorFirst 0%,
      $mainBgGradientColorSecond 100%);
}

.second-gradient {
  background: linear-gradient(45deg,
      $secondBgGradientColorFirst 0%,
      $secondBgGradientColorSecond 100%);
}

// === ↑ gradients

// === ↓ fonts
.main-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: $textDarkColor;
}

.main-font-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: $textDarkColor;
}

.main-font-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: $secondColor;
}

// === ↑ fonts

// =============================================================================
body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  @extend .main-gradient;
}

// === parallax frame
.parallax {
  border: 2px solid red;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

// === appearance
body {
  .parallax {

    .layer_1,
    .layer_2,
    .layer_3,
    .layer_4,
    .layer__item {
      border: 2px solid black;
      border-radius: 8px;
    }

    .layer_1 {
      background-color: hsla(0, 87%, 73%, 0.25);
    }

    .layer_2 {
      background-color: hsla(167, 87%, 73%, 0.25);
    }

    .layer_3 {
      background-color: hsla(123, 87%, 73%, 0.25);
    }

    .layer_4 {
      background-color: hsla(66, 87%, 73%, 0.25);
    }

    .layer_5 {
      .layer__item {
        background-color: hsla(293, 87%, 73%, 0.25);
      }
    }

    .layer_6 {
      .layer__item {
        background-color: hsla(135, 100%, 16%, 0.7);
      }
    }

    .layer_7 {
      .layer__item {
        background-color: #bb0000;
      }
    }
  }
}

// === size layers
body {
  .parallax {
    .layer_1 {
      width: 85vw;
      height: 85vh;
    }

    .layer_2 {
      width: 85vw;
      height: 85vh;
    }

    .layer_3 {
      width: 85vw;
      height: 85vh;
    }

    .layer_4 {
      width: 85vw;
      height: 85vh;
    }

    .layer_5 {
      width: 85vw;
      height: 85vh;

      .layer__item {
        width: 40vw;
        height: 40vh;
      }
    }

    .layer_6 {
      width: 85vw;
      height: 85vh;

      .layer__item {
        width: 60vw;
        height: 15vh;
      }
    }

    .layer_7 {
      width: 85vw;
      height: 85vh;

      .layer__item {
        width: 15px;
        height: 15px;
      }
    }
  }
}

// === position
body {
  .parallax {
    position: relative;

    .parallax-layer {
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .layer__item {
        position: absolute;
      }
    }

    .layer_7 .position_custom {
      top: 300px;
      left: 200px;
    }

    // === top =================================================================
    .position_t_l {
      top: 0;
      left: 0;
    }

    .position_t_c {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .position_t_r {
      top: 0;
      right: 0;
    }

    // === middle ==============================================================
    .position_m_l {
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }

    .position_m_c {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .position_m_r {
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
    }

    // === bottom ==============================================================
    .position_b_l {
      bottom: 0;
      left: 0;
    }

    .position_b_c {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .position_b_r {
      bottom: 0;
      right: 0;
    }
  }
}