.test {
  color: red; }

.main-shadow {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3); }

.main-gradient, body {
  background: linear-gradient(45deg, #70c5f4 0%, #846bf7 100%); }

.second-gradient {
  background: linear-gradient(45deg, #ffa9af 0%, #f871be 100%); }

.main-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: #1F1D3B; }

.main-font-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: #1F1D3B; }

.main-font-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: #5947E4; }

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden; }

.parallax {
  border: 2px solid red;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

body .parallax .layer_1,
body .parallax .layer_2,
body .parallax .layer_3,
body .parallax .layer_4,
body .parallax .layer__item {
  border: 2px solid black;
  border-radius: 8px; }

body .parallax .layer_1 {
  background-color: rgba(246, 126, 126, 0.25); }

body .parallax .layer_2 {
  background-color: rgba(126, 246, 220, 0.25); }

body .parallax .layer_3 {
  background-color: rgba(126, 246, 132, 0.25); }

body .parallax .layer_4 {
  background-color: rgba(234, 246, 126, 0.25); }

body .parallax .layer_5 .layer__item {
  background-color: rgba(232, 126, 246, 0.25); }

body .parallax .layer_6 .layer__item {
  background-color: rgba(0, 82, 20, 0.7); }

body .parallax .layer_7 .layer__item {
  background-color: #bb0000; }

body .parallax .layer_1 {
  width: 85vw;
  height: 85vh; }

body .parallax .layer_2 {
  width: 85vw;
  height: 85vh; }

body .parallax .layer_3 {
  width: 85vw;
  height: 85vh; }

body .parallax .layer_4 {
  width: 85vw;
  height: 85vh; }

body .parallax .layer_5 {
  width: 85vw;
  height: 85vh; }
  body .parallax .layer_5 .layer__item {
    width: 40vw;
    height: 40vh; }

body .parallax .layer_6 {
  width: 85vw;
  height: 85vh; }
  body .parallax .layer_6 .layer__item {
    width: 60vw;
    height: 15vh; }

body .parallax .layer_7 {
  width: 85vw;
  height: 85vh; }
  body .parallax .layer_7 .layer__item {
    width: 15px;
    height: 15px; }

body .parallax {
  position: relative; }
  body .parallax .parallax-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    body .parallax .parallax-layer .layer__item {
      position: absolute; }
  body .parallax .layer_7 .position_custom {
    top: 300px;
    left: 200px; }
  body .parallax .position_t_l {
    top: 0;
    left: 0; }
  body .parallax .position_t_c {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0); }
  body .parallax .position_t_r {
    top: 0;
    right: 0; }
  body .parallax .position_m_l {
    top: 50%;
    left: 0;
    transform: translate(0, -50%); }
  body .parallax .position_m_c {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  body .parallax .position_m_r {
    top: 50%;
    right: 0;
    transform: translate(0, -50%); }
  body .parallax .position_b_l {
    bottom: 0;
    left: 0; }
  body .parallax .position_b_c {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0); }
  body .parallax .position_b_r {
    bottom: 0;
    right: 0; }

/*# sourceMappingURL=index.css.map */
