<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" )
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" href="./favicon.ico")
    link(rel="stylesheet" href="./assets/vendors/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="./assets/vendors/baguetteBox/css/baguetteBox.css")
    link(rel="stylesheet" href="./assets/css/base.css")
    link(rel="stylesheet" href="./assets/css/main.css")
    link(rel="stylesheet" href="./pages/index/index.css")
    title jQuery plugin

  body
    .parallax_layer_1.box.box_border.box_c
      .parallax_layer_2.box.box_border.box_c
        .parallax_layer_3.box.box_border.box_c
          .parallax_layer_4.box.box_border.box_c
            .parallax_layer_5.box.box_c
              .box.box_border.box_t_l
              .box.box_border.box_t_r
              .box.box_border.box_b_l
              .box.box_border.box_b_r
            

    script(src="./assets/vendors/bootstrap/js/jquery-3.4.1.min.js")
    script(src="./assets/vendors/bootstrap/js/popper.min.js")
    script(type="module" src="./index.js")