<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" )
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" href="./favicon.ico")
    link(rel="stylesheet" href="./assets/css/base.css")
    link(rel="stylesheet" href="./assets/css/main.css")
    link(rel="stylesheet" href="./pages/index/index.css")
    title jQuery plugin

  body
    .parallax
      .parallax-layer.layer_1(data-perspective-depth="10")
        .layer__item.item_1
      .parallax-layer.layer_2(data-perspective-depth="30")
        .layer__item.item_1
      .parallax-layer.layer_3(data-perspective-depth="90")
        .layer__item.item_1
      .parallax-layer.layer_4(data-perspective-depth="120")
        .layer__item.item_1
      .parallax-layer.layer_5(data-perspective-depth="160")
        .layer__item.item_1
      .parallax-layer.layer_6(data-perspective-depth="180")
        .layer__item.item_1
      .parallax-layer.layer_7(data-perspective-depth="310")
        .layer__item.item_1
      .parallax-layer.layer_8(data-perspective-depth="360")
        .layer__item.item_1
      .parallax-layer.layer_9(data-perspective-depth="380")
        .layer__item.item_1
      .parallax-layer.layer_10(data-perspective-depth="400")
        .layer__item.item_1



    script(src="./assets/vendors/jQuery/jquery-3.4.1.min.js")

    script(type="module" src="./index.js")